<form method="get" id="SortByForm" class="flex items-center justify-between py-3 border-b border-[#c42764]">
  <label for="SortBy" class="mr-2 font-medium text-gray-700">{{ productNumber }}</label>
  <select
    name="sort_by"
    id="SortBy"
    class="border border-gray-300 rounded-lg px-3 py-2 text-gray-700 focus:outline-none focus:border-gray-500"
    onchange="this.form.submit()"
  >
    <option
      value="manual"
      {% if collection.sort_by == 'manual' or collection.sort_by == blank %}
        selected
      {% endif %}
    >
      Featured
    </option>
    <option
      value="best-selling"
      {% if collection.sort_by == 'best-selling' %}
        selected
      {% endif %}
    >
      Best selling
    </option>
    <option
      value="title-ascending"
      {% if collection.sort_by == 'title-ascending' %}
        selected
      {% endif %}
    >
      Alphabetically, A-Z
    </option>
    <option
      value="title-descending"
      {% if collection.sort_by == 'title-descending' %}
        selected
      {% endif %}
    >
      Alphabetically, Z-A
    </option>
    <option
      value="price-ascending"
      {% if collection.sort_by == 'price-ascending' %}
        selected
      {% endif %}
    >
      Price, low to high
    </option>
    <option
      value="price-descending"
      {% if collection.sort_by == 'price-descending' %}
        selected
      {% endif %}
    >
      Price, high to low
    </option>
    <option
      value="created-ascending"
      {% if collection.sort_by == 'created-ascending' %}
        selected
      {% endif %}
    >
      Date, old to new
    </option>
    <option
      value="created-descending"
      {% if collection.sort_by == 'created-descending' %}
        selected
      {% endif %}
    >
      Date, new to old
    </option>
  </select>
</form>
