<div
  x-data="
    {
      sortBy: '{{ collection.sort_by | default: 'manual' }}',
      applySort() {
        const searchParams = new URLSearchParams(window.location.search);
        searchParams.set('sort_by', this.sortBy);
        window.location.href = window.location.pathname + '?' + searchParams.toString();
      }
    }
  "
>
  <select
    id="SortBy"
    x-model="sortBy"
    @change="applySort"
    class="border-none outline-none px-3 py-2 text-gray-700 focus:outline-none focus:border-none"
  >
    <option value="manual">Featured</option>
    <option value="best-selling">Best selling</option>
    <option value="title-ascending">Alphabetically, A-Z</option>
    <option value="title-descending">Alphabetically, Z-A</option>
    <option value="price-ascending">Price, low to high</option>
    <option value="price-descending">Price, high to low</option>
    <option value="created-ascending">Date, old to new</option>
    <option value="created-descending">Date, new to old</option>
  </select>
</div>
