{% doc %}
  Renders a text block.

  @example
  {% content_for 'block', type: 'tools', id: 'tools' %}
{% enddoc %}

<div
  class="
    header__menu {% if section.settings.header_position == 'fixed' %}
      fixed top-0 z-50
    {% elsif section.settings.header_position == 'sticky' %}
      sticky top-0
    {% endif %}
  "
  {{ block.shopify_attributes }}
>
  {% for link in block.settings.menu.links %}
    {{ link.title | link_to: link.url }}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Menu Block",
  "class": "mx-auto",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:settings.menu"
    }
  ],
  "presets": [
    {
      "name": "Menu Block"
    }
  ]
}
{% endschema %}
