{% doc %}
  Renders a text block.

  @example
  {% content_for 'block', type: 'tools', id: 'tools' %}
{% enddoc %}

<div class="header__menu" {{ block.shopify_attributes }}>
  {% for link in section.settings.menu.links %}
    {{ link.title | link_to: link.url }}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Menu Block",
  "class": "mx-auto",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:settings.menu"
    }
  ],
  "presets": [
    {
      "name": "Menu Block"
    }
  ]
}
{% endschema %}
