<div class="header__menu" {{ block.shopify_attributes }}>
  {% for link in section.settings.menu.links %}
    {{ link.title | link_to: link.url }}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Menu Block",
  "class": "m-auto",
  "settings": [],
  "presets": [
    {
      "name": "Menu Block"
    }
  ]
}
{% endschema %}
