{% doc %}
  Renders a text block.

  @example
  {% content_for 'block', type: 'tools', id: 'tools' %}
{% enddoc %}

{% assign button_class = 'flex items-center gap-x-1 text-sm font-medium js-toggle-header-menu '
  | append: block.settings.item_hover_effect
%}

<div class="header__menu relative w-full" {{ block.shopify_attributes }}>
  <ul class="flex px-{{ block.settings.menu_horizontal_padding }} {{ block.settings.menu_width }} justify-between items-center space-x-6 text-gray-600 hover:text-black">
    {% for link in block.settings.menu.links %}
      {% if link.links != blank %}
        <li class="relative text-nowrap">
          {% assign btn_id = 'list-toggle-' | append: link.title | handleize %}
          {% assign btn_target = 'header-menu-' | append: link.title | handleize %}
          {%
            render 'button',
            type: 'button',
            id: btn_id ,
            class: button_class,
            data_target: btn_target,
            data_label: link.title,
            text: link.title
            bg_color: block.settings.link_bg_color
            text_color: block.settings.link_text_color
          %}

          <!-- Drop-down بدل Mega Menu -->
          {% if block.settings.menu_style == 'mega-menu' %}
            {% render 'mega-menu', link: link %}
          {% else %}
            {% render 'classic-menu', link: link %}
          {% endif %}
        </li>
      {% else %}
        <li>
          {% render 'button',
            type: 'link',
            url: link.url,
            class: block.settings.item_hover_effect,
            data_label: link.title,
            text: link.title,
            bg_color: block.settings.link_bg_color,
            text_color: block.settings.link_text_color
          %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "Menu Block",
  "class": "relative overflow-x-scroll max-w-7xl mx-auto",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "menu"
    },
    {
      "type": "select",
      "id": "menu_style",
      "label": "menu_style",
      "default": "classic-menu",
      "options": [
        {
          "value": "classic-menu",
          "label": "classic-menu"
        },
        {
          "value": "mega-menu",
          "label": "mega-menu"
        }
      ]
    },
    {
      "type": "color",
      "id": "link_bg_color",
      "label": "link background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "link_text_color",
      "label": "link text color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "item_hover_effect",
      "label": "item_hover_effect",
      "options": [
        {
          "value": "lightline",
          "label": "light underline"
        },
        {
          "value": "hover-underline",
          "label": "underline"
        },
        {
          "value": "hover-doubleline",
          "label": "doubleline"
        }
      ]
    },
    {
      "type": "select",
      "id": "menu_width",
      "label": "menu_width",
      "options": [
        {
          "value": "w-full",
          "label": "full"
        },
        {
          "value": "w-fit",
          "label": "fit"
        }
      ]
    },
    {
      "type": "range",
      "id": "menu_horizontal_padding",
      "label": "menu_horizontal_padding",
      "min": 0,
      "max": 12,
      "step": 2,
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Menu Block",
      "category": "Header"
    }
  ]
}
{% endschema %}
