<p style="
  font-size: {{ block.settings.font_size | default: 16 }}px;
  font-weight: {{ block.settings.font_weight | default: 'normal' }};
  font-style: {{ block.settings.font_style | default: 'normal' }};
  margin: 0;
">
  {{ block.settings.text }}
</p>