{% doc %}
  Renders a text block.

  @example
  {% content_for 'block', type: 'text', id: 'rich_text' %}
{% enddoc %}

<div
  class="text-{{ block.settings.text_alignment }} w-full"
  style="    color: {{ settings.color_schemes[block.settings.color_scheme].settings.text }};"
  {{ block.shopify_attributes }}
>
  {{ block.settings.rich_text }}
</div>

{% schema %}
{
  "name": "Rich Text Block",
  "settings": [
    {
      "type": "richtext",
      "id": "rich_text",
      "label": "Rich Text",
      "default": "<p>This is a rich text block.</p>"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text Size",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ]
    }
  ],
  "presets": [{ "name": "Rich Text Block" }]
}
{% endschema %}
