<div
  class="rte text-center"
  style="padding: 0.5rem 1rem;"
>
  {{ block.settings.rich_text }}
</div>

{% schema %}
{
  "name": "Rich Text Block",
  "settings": [
    {
      "type": "richtext",
      "id": "rich_text",
      "label": "Rich Text",
      "default": "<p>This is a <strong>rich</strong> text block.</p>"
    }
  ]
}
{% endschema %}
