{% assign scheme = settings.color_schemes[block.settings.color_scheme].settings %}

<div
  class="rte text-center"
  style="
    color: {{ scheme.text }};
    padding: 0.5rem 1rem;
  "
>
  {{ block.settings.rich_text }}
</div>

{% schema %}
{
  "name": "Rich Text Block",
  "settings": [
    {
      "type": "richtext",
      "id": "rich_text",
      "label": "Rich Text",
      "default": "<p>This is a <strong>rich</strong> text block.</p>"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
