<div
  style="color: {{ settings.color_schemes[block.settings.color_scheme].settings.text }};"
>
  {{ block.settings.rich_text }}
</div>

{% schema %}
{
  "name": "Rich Text Block",
  "settings": [
    {
      "type": "richtext",
      "id": "rich_text",
      "label": "Rich Text",
      "default": "<p>This is a rich text block.</p>"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
