{% doc %}
  Renders a text block.

  @example
  {% content_for 'block', type: 'tools', id: 'tools' %}
{% enddoc %}

<div class="search-block">
  {% render 'header-search', input_id: 'Search-In-Modal-1' %}
</div>

{% schema %}
{
  "name": "Search Block",
  "settings": [],
  "presets": [
    {
      "name": "Search Block"
    }
  ]
}
{% endschema %}
