{% doc %}
  Renders a text block.

  @example
  {% content_for 'block', type: 'tools', id: 'tools' %}
{% enddoc %}

{% liquid
  if settings.facebook_url != blank
    assign facebook_url = block.settings.facebook_url
  else
    assign facebook_url = routes.root_url
  endif
  if block.settings.instagram_url != blank
    assign instagram_url = block.settings.instagram_url
  else
    assign instagram_url = routes.root_url
  endif
%}

<div class="flex items-center gap-4" {{ block.shopify_attributes }}>
  {% render 'button',
    type: 'link',
    url: facebook_url,
    data_label: 'icon-facebook',
    data_target: '_blank',
    class: 'hover:text-blue-600 transition inline-block',
    icon: 'icon-instagram'
  %}

  <a
    href="{{ instagram_url }}"
    aria-label="icon-instagram"
    target="_blank"
    class="hover:text-pink-500 transition inline-block"
  >
    {%- render 'icons', icon: 'icon-instagram' %}
  </a>
</div>

{% schema %}
{
  "name": "Social Icons Bar",
  "settings": [],
  "presets": [{ "name": "Social Icons Bar", "category": "Header" }]
}
{% endschema %}
