{% doc %}
  Renders a text block.

  @example
  {% content_for 'block', type: 'tools', id: 'tools' %}
{% enddoc %}

<div class="flex items-center gap-4" {{ block.shopify_attributes }}>
  {% if block.settings.facebook_url != blank %}
    <a href="{{ block.settings.facebook_url }}" target="_blank" class="hover:text-blue-600 transition inline-block w-6 h-6">
      {% render 'icon-facebook' %}
    </a>
  {% endif %}
  
  {% if block.settings.instagram_url != blank %}
    <a href="{{ block.settings.instagram_url }}" target="_blank" class="hover:text-pink-500 transition inline-block w-6 h-6">
      {% render 'icon-instagram' %}
    </a>
  {% endif %}
</div>

{% schema %}
{
  "name": "Social Icons Bar",
  "settings": [
    {
      "type": "url",
      "id": "facebook_url",
      "label": "Facebook URL"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram URL"
    }
  ],
  "presets": [{ "name": "Social Icons Bar" }]
}
{% endschema %}