{% comment %}
  Preload LCP logo if exists in settings or fallback to shop.logo
{% endcomment %}

{% assign logo_aspect = 135 | divided_by: 36.0 %}
{% assign logo_height = settings.logo_size | times: logo_aspect | round %}

<h2 class="header__title" {{ block.shopify_attributes }}>
  {% if block.settings.logo == 'logo' %}
    {% if settings.logo != blank %}
      {% render 'image',
        image: settings.logo,
        url: routes.root_url,
        alt: shop.name,
        class: "header__logo",
        width: settings.logo_size,
        height: logo_height,
        sizes: "(max-width: 640px) 60px, (max-width: 1024px) 70px, 80px"
      %}
    {% elsif shop.logo %}
      {% assign logo_height = settings.logo_size | times: logo_aspect | round %}
      {% render 'image',
        image: shop.logo,
        url: routes.root_url,
        alt: shop.name,
        class: "header__logo",
        width: settings.logo_size,
        height: logo_height,
        sizes: "(max-width: 640px) 60px, (max-width: 1024px) 70px, 80px"
      %}
    {% else %}
      {{ shop.name | link_to: routes.root_url }}
    {% endif %}
  {% elsif block.settings.logo == 'text' %}
    {{ shop.name | link_to: routes.root_url }}
  {% else %}
    <span class="header__logo-placeholder">Logo Placeholder</span>
  {% endif %}
</h2>

{% schema %}
{
  "name": "Title Logo Block",
  "settings": [
    {
      "type": "select",
      "id": "logo",
      "label": "Logo",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "logo",
          "label": "Logo"
        },
        {
          "value": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Title Logo Block",
      "category": "Header"
    }
  ]
}
{% endschema %}
