<h2 class="header__title" {{ block.shopify_attributes }}>
  {% if section.settings.logo == 'logo' %}
    <img src="{{ settings.logo_and_favicon.logo | image_url }}" alt="Shop logo displaying {{ shop.name }} in a welcoming style, positioned in the website header area" class="header__logo" width="150" height="50">
  {% elsif section.settings.logo == 'text' %}
    {{ shop.name | link_to: routes.root_url }}
  {% endif %}
</h2>

{% schema %}
{
  "name": "Title Logo Block",
  "settings": [
    {
      "type": "select",
      "id": "logo",
      "label": "Logo",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "logo",
          "label": "Logo"
        },
        {
          "value": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Title Logo Block"
    }
  ]
}
{% endschema %}
