<div class="header__icons" {{ block.shopify_attributes }}>
  {% if shop.customer_accounts_enabled %}
    {%- render 'icons' , icon: 'icon-user', link: routes.account_url -%}
  {% endif %}

  <a href="{{ routes.cart_url }}">
    {% if cart.item_count > 0 %}
      <sup>{{ cart.item_count }}</sup>
    {% endif %}
    {%- render 'icons' , icon: 'cart' -%}
  </a>
</div>

{% schema %}
{
  "name": "User Icon Block",
  "settings": [],
  "presets": [
    {
      "name": "User Icon Block",
      "category": "Header"
    }
  ]
}
{% endschema %}