{% comment %}
  This section is used in the 404 template to render page shown when customers
  enter an invalid store URL.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/404
{% endcomment %}
<div class="max-w-md" >
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "t:general.404",
  "tag": "section",
  "class": "flex items-center justify-center text-center py-7",
  "settings": [
  ],
  "blocks": [{ "type": "@theme" }, { "type": "@app" }]
}
{% endschema %}
