{% if section.settings.enable_announcement_bar %}
  <div class="bg-gray-900 text-white text-sm py-2 text-center">
    {{ section.settings.announcement_text }}
  </div>
{% endif %}

{% schema %}
{
  "name": "t:general.announcement_bar",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "t:settings.announcement_text"
    },
    {
      "type": "checkbox",
      "id": "enable_announcement_bar",
      "label": "t:settings.enable_announcement_bar",
      "default": true
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color Scheme",
      "options": [
        { "value": "scheme-1", "label": "Scheme 1" },
        { "value": "scheme-2", "label": "Scheme 2" },
        { "value": "scheme-3", "label": "Scheme 3" },
        { "value": "scheme-4", "label": "Scheme 4" },
        { "value": "scheme-5", "label": "Scheme 5" },
        { "value": "scheme-6", "label": "Scheme 6" }
      ],
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "t:general.announcement_bar"
    }
  ]
}
{% endschema %}

