{% if section.settings.enable_announcement_bar %}
  {% assign scheme = settings.color_schemes[section.settings.color_scheme].settings %}
  <div
    class="text-sm py-2 text-center"
    style="
      background-color: {{ scheme.background }};
      color: {{ scheme.text }};
      box-shadow: 0 2px 4px {{ scheme.shadow }};
    "
  >
    {{ section.settings.announcement_text }}
  </div>
{% endif %}

{% schema %}
{
  "name": "t:general.announcement_bar",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "richtext",
      "id": "announcement_text",
      "label": "Announcement Text (Rich Text)",
      "default": "<p>t:settings.announcement_text</p>",
      "info": "Use this field for rich text formatting."
    },
    {
      "type": "checkbox",
      "id": "enable_announcement_bar",
      "label": "t:settings.enable_announcement_bar",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "t:general.announcement_bar"
    }
  ]
}
{% endschema %}
