{% if section.blocks.size > 0 %}
  {% assign scheme = section.settings.color_scheme.settings %}

  {% for block in section.blocks %}
    {% if block.type == "announcement_text" %}
      <div
        class="text-sm py-2 text-center"
        style="
          background-color: {{ scheme.background }};
          color: {{ scheme.text }};
          box-shadow: 0 2px 4px {{ scheme.shadow }};
        "
      >
        {{ block.settings.text }}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}


{% schema %}
{
  "name": "Announcement Bar",
  "tag": "section",
  "max_blocks": 3,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "announcement_text",
      "name": "Announcement Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Welcome to our store!</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default",
      "blocks": [
        {
          "type": "announcement_text"
        }
      ]
    }
  ]
}
{% endschema %}

