{% if  section.settings.announcement_text_rich_enabled == true %}
  {% assign announcement_text = section.settings.announcement_text_rich %}
{% else %}
  {% assign announcement_text = section.settings.announcement_text %}
{% endif %}

{% if announcement_text contains 't:' %}
  {% assign announcement_text = announcement_text | t %}
{% endif %}

{% if section.settings.enable_announcement_bar %}
  {% assign scheme = section.settings.color_scheme.settings %}

  <div
    class="text-sm py-2 text-center"
    style="
      background-color: {{ scheme.background }};
      color: {{ scheme.text }};
      box-shadow: 0 2px 4px {{ scheme.shadow }};
    "
  >
    {{ section.settings.announcement_text }}
  </div>
{% endif %}

{% schema %}
{
  "name": "t:general.announcement_bar",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "t:settings.announcement_text",
      "info": "Use this field for plain text."
    },

    {
      "type": "checkbox",
      "id": "announcement_text_rich_enabled",
      "label": "Enable Rich Text Formatting",
      "default": false,
    },
    {
      "type": "richtext",
      "id": "announcement_text_rich",
      "label": "Announcement Text (Rich Text)",
      "default": "<p>t:settings.announcement_text</p>",
      "info": "Use this field for rich text formatting."
    },
    {
      "type": "checkbox",
      "id": "enable_announcement_bar",
      "label": "t:settings.enable_announcement_bar",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "t:general.announcement_bar"
    }
  ]
}
{% endschema %}
