{% assign scheme_color = settings.color_schemes[section.settings.color_scheme].settings %}

{% if section.settings.enable_announcement_bar %}
  <div
    class="announcement-bar color-{{ scheme_color }} py-2 text-center text-sm"
    style="
      color: {{ scheme_color.text }};
      background-color: {{ scheme_color.background }};
      box-shadow: 0 2px 4px {{ scheme_color.shadow }};
    "
  >
    {% content_for 'blocks' %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "tag": "section",
  "max_blocks": 10,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_announcement_bar",
      "label": "Enable Announcement Bar",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    }
  ],
  "blocks": [{ "type": "@theme" }, { "type": "@app" }, { "type": "plain-text-block" }, { "type": "rich-text-block" }],
  "presets": [
    {
      "name": "Announcement Bar",
      "category": "Announcement",
      "blocks": [{ "type": "plain-text-block" }, { "type": "rich-text-block" }]
    }
  ]
}
{% endschema %}
