{% if section.settings.enable_announcement_bar %}
  <div class="bg-gray-900 text-white text-sm py-2 text-center">
    {{ section.settings.announcement_text }}
  </div>
{% endif %}

{% schema %}
{
  "name": "t:general.announcement_bar",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "t:settings.announcement_text"
    },
    {
      "type": "checkbox",
      "id": "enable_announcement_bar",
      "label": "t:settings.enable_announcement_bar",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Default"
    }
  ]
}
{% endschema %}
