<header class="header w-full shadow-lg  mb-8 bg-white">
  <div class="flex flex-row text-sm w-2/3 mx-auto justify-between py-4">
    {% content_for 'blocks' %}
    <script src="{{ 'menu-toggle.js' | asset_url }}" defer></script>
    <script src="{{ 'search.js' | asset_url }}" defer></script>
    <script src="{{ 'menu-toggle.js' | asset_url }}" defer></script>
  </div>
</header>

{% stylesheet %}
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }
  header a sup {
    position: absolute;
    left: 100%;
    overflow: hidden;
    max-width: var(--page-margin);
  }
  header svg {
    width: 2rem;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "class": "header",
  "limit": 1,
  "settings": [
    {
      "type": "select",
      "id": "header_position",
      "label": "Header Position",
      "options": [
        {
          "value": "fixed",
          "label": "Fixed"
        },
        {
          "value": "sticky",
          "label": "Sticky"
        },
        {
          "value": "None",
          "label": "None"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "menu_border",
      "label": "Show Menu Border"
    },
    {
      "type": "select",
      "id": "border_bottom",
      "label": "t:settings.border_bottom",
      "options": [
        {
          "value": "none",
          "label": "t:settings.border_bottom.none"
        },
        {
          "value": "solid",
          "label": "t:settings.border_bottom.solid"
        },
        {
          "value": "dashed",
          "label": "t:settings.border_bottom.dashed"
        }
      ]
    },
    {
      "type": "range",
      "id": "menu_border_width",
      "label": "Menu Item Border Width",
      "min": 2,
      "max": 8,
      "step": 2,
      "default": 2
    },
    {
      "type": "select",
      "id": "menu_border_color",
      "label": "Menu Item Border Color",
      "options": [
        {
          "value": "red",
          "label": "Red"
        },
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "blue",
          "label": "Blue"
        }
      ]
    }
  ],
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  
}
{% endschema %}
{% comment %} 
"presets": [
    {
      "name": "Header",
      "blocks": [
        { "type": "language-currency-block", "name": "Language and Currency Block" },
        { "type": "plain-text-block", "name": "Plain Text Block" },
        { "type": "social-icons-block", "name": "Social Icons Block" },
        { "type": "user-icon-block", "name": "User Icon Block" },
        { "type": "menu-block", "name": "Menu Block" },
        { "type": "title-logo-block", "name": "Title Logo Block" },
        { "type": "search-block", "name": "Search Block" }
      ]
    }
  ] {% endcomment %}