<header class="header w-full shadow-2xl border-b border-black mb-8 bg-white">
  <div class="flex flex-row text-sm w-2/3 mx-auto justify-between py-4">
    {% content_for 'blocks' %}
    <script src="{{ 'menu-toggle.js' | asset_url }}" defer></script>
    <script src="{{ 'search.js' | asset_url }}" defer></script>
    <script src="{{ 'menu-toggle.js' | asset_url }}" defer></script>
  </div>
</header>

{% stylesheet %}
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }
  header a sup {
    position: absolute;
    left: 100%;
    overflow: hidden;
    max-width: var(--page-margin);
  }
  header svg {
    width: 2rem;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "class": "header",
  "limit": 1,
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:settings.menu"
    }
  ],
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "presets": [
    {
      "name": "Header",
      "blocks": [
        { "type": "language-currency-block", "name": "Language and Currency Block" },
        { "type": "plain-text-block", "name": "Plain Text Block" },
        { "type": "social-icons-block", "name": "Social Icons Block" },
        { "type": "user-icon-block", "name": "User Icon Block" },
        { "type": "menu-block", "name": "Menu Block" },
        { "type": "title-logo-block", "name": "Title Logo Block" },
        { "type": "search-block", "name": "Search Block" }
      ]
    }
  ]
}
{% endschema %}
