{% comment %}
  Welcome to Shopify theme development!
{% endcomment %}

<div class="welcome w-screen h-80" style="background-image: url('{{ 'home.png' | asset_url }}'); background-size: center; background-position: center; background-attachment: fixed;">
  <div class="welcome-content bg-white/70 p-8 rounded-lg text-white">
    <div class="px-4 py-8">
      <h1 class=" text-6xl">Hello, World!</h1>

      <p class="welcome-description text-3xl">
        The Skeleton theme is a minimal, carefully structured Shopify theme designed to help you quickly get started.
        Designed with modularity, maintainability, and Shopify's best practices in mind.
      </p>

      <p class="welcome-description text-3xl">
        Themes shape the online store experience for merchants and their customers. Build fast, flexible themes at scale
        using Liquid, Shopify's theme templating language, along with HTML, CSS, JavaScript, and JSON.
      </p> 
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Hello World",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}
