{% if section.settings.enable_language_currency_bar %}
  <div class="bg-gray-100 text-sm max-w-7xl mx-auto flex justify-between text-gray-700 py-4">
    {% content_for 'blocks' %}
    <script src="{{ 'menu-toggle.js' | asset_url }}" defer></script>
  </div>
{% endif %}

{% schema %}
{
  "name": "t:general.language_currency_bar",
  "tag": "section",
  "class": "language-currency-bar",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_language_currency_bar",
      "label": "t:settings.enable_language_currency_bar",
      "default": true,
      "info": "t:settings.enable_language_currency_bar_info"
    }
  ],
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "presets": [
    {
      "name": "Language and Currency Bar",
      "blocks": [
        { "type": "language-currency-block", "name": "Language and Currency Block" },
        { "type": "social-icons-block", "name": "Social Icons Block" }
        { "type": "plain-text-block", "name": "Plain Text Block" },
        { "type": "social-icons-block", "name": "Social Icons Block" }
      ]
    }
  ]
}
{% endschema %}
