<div
  class="section-main {{ section.settings.direction_cotainer }}"
  style="
    background-image: url({{ section.settings.background_image }});
    background-size: contain;
    background-position: center center;
    padding: {{ section.settings.padding_y }}px 0px;
  "
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Main",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image",
      "info": "This image will be used as the background for the section."
    },
    {
      "type": "range",
      "id": "padding_y",
      "label": "Vertical Padding",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "direction_cotainer",
      "label": "Direction Container",
      "options": [
        { "value": "flex-col", "label": "Column" },
        { "value": "flex-row", "label": "Row" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main",
      "category": "Sections"
    }
  ],
  "blocks": [{ "type": "@theme" }, { "type": "@app" }]
}
{% endschema %}
