<div>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Main",
  "settings": [],
  "presets": [
    {
      "name": "Main",
      "category": "Sections"
    }
  ],
  "blocks": [{ "type": "@theme" }, { "type": "@app" }]
}
{% endschema %}