<div>
    {% content_for 'blocks' %}
</div>

{% schema %}
    {
        "name": "main",
        "class": "",
        "settings": [
        
        ],
        "blocks": [
            {
                "type": "default",
                "name": "Block"
            }
        ]
    }
{% endschema %}
