<header class="fixed top-0 w-full bg-white flex justify-between items-center h-40 z-50">
  <div>
    <img
      src="{{ settings.logo | image_url }}"
      alt="Shop logo displaying {{ shop.name }} in a welcoming style, positioned in the website header area"
      class="header__logo"
      width="180"
      height="100"
    >
  </div>
  <div>
    {% render 'icon-menu' %}
  </div>
</header>

{% schema %}
{
  "name": "Mobile Header",
  "settings": []
}
{% endschema %}
