{% comment %}
  This section is used in the page template to render store pages like About us
  or Contact us.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/page
{% endcomment %}
<div class="flex flex-col item-center">
  <h1 class="text-3xl font-medium text-center my-6 md:my-12">{{ page.title }}</h1>
  <div class="max-w-6xl mx-auto">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:general.page",
  "settings": []
}
{% endschema %}
