{% liquid
  assign section_id = section.id
  assign padding_vertical = section.settings.padding_vertical
%}

<section id="shopify-section-{{ section_id }}" class="relative w-full overflow-hidden py-[{{ padding_vertical }}px]">
  <!-- Grid (3 images) -->
  <div
    class="sm:swiper mySwiper-grid w-full relative"
    data-next-btn="swiper-button-next-grid"
    data-prev-btn="swiper-button-prev-grid"
    data-slides-per-view="3"
    data-slides-per-view-mobile="1"
    data-autoplay="false"
    data-autoplay-delay="2500"
  >
    <div class="swiper-wrapper md:grid md:grid-cols-3">
      {% for block in section.blocks %}
        {% if block.type == 'grid_image' %}
          <div class="swiper-slide relative group shadow-lg aspect-[628/420]">
            {% if block.settings.grid_image %}
              <div class="relative group shadow-lg">
                {%
                  render 'image',
                  image: block.settings.grid_image,
                  class: 'object-cover group-hover:scale-105 group-hover:shadow-xl transition-transform duration-500 overflow-hidden',
                  width: 620,
                  height: 410,
                  crop: 'center',
                  alt: block.settings.grid_title | escape,
                %}
              </div>
            {% endif %}
            <div class="absolute inset-0 flex flex-col justify-center items-center text-center text-white p-4">
              <h3 class="text-xl font-semibold">{{ block.settings.grid_title }}</h3>
              <p class="mt-2">{{ block.settings.grid_text }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Controls تظهر فقط على الموبايل -->
    <div class="swiper-pagination sm:block md:hidden"></div>
  </div>
</section>

{% schema %}
{
  "name": "Section Grid",
  "settings": [
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "range",
      "id": "slider_height",
      "label": "Slider Height (px)",
      "default": 500,
      "min": 300,
      "max": 900,
      "step": 50
    },
    {
      "type": "range",
      "id": "padding_vertical",
      "label": "Slider Height (px)",
      "default": 2,
      "min": 0,
      "max": 30,
      "step": 2
    }
  ],
  "blocks": [
    {
      "type": "grid_image",
      "name": "Grid Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "grid_image",
          "label": "Image",
          "info": "image height must be 400px and width 620px"
        },
        {
          "type": "text",
          "id": "grid_title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "grid_text",
          "label": "Text"
        }
      ]
    }
  ],
  "max_blocks": 12,
  "presets": [
    {
      "name": "Section Grid",
      "category": "Images"
    }
  ]
}
{% endschema %}
