@import "tailwindcss";

.grid-style {
  @apply bg-white p-4 overflow-hidden;
}

.horizontal-style {
  @apply flex flex-row items-start bg-white px-4 gap-4 overflow-hidden;
}

.custom-payment-button button {
  @apply w-full h-full px-6 py-6 font-semibold rounded-lg bg-neutral-700 text-white mt-3 cursor-pointer;
}

body .shopify-policy__container {
  @apply mx-auto p-8 my-6 bg-white rounded-2xl shadow-lg leading-relaxed text-gray-700;
  max-width: 80rem !important;
}

html[lang="en"] .shopify-policy__body {
  @apply text-left;
  direction: ltr;
}

html[lang="ar"] .shopify-policy__body {
  @apply text-right;
  direction: rtl;
}

.shopify-policy__container h1,
.shopify-policy__container h2,
.shopify-policy__container h3 {
  @apply font-bold text-gray-900 mb-4;
}

.shopify-policy__container h1 {
  @apply text-3xl border-b pb-4 mb-6;
}

.shopify-policy__container h2 {
  @apply text-2xl mt-6;
}

.shopify-policy__container p {
  @apply mb-4;
}
.shopify-policy__container a {
  @apply text-blue-600 underline hover:text-blue-800;
}

.shopify-policy__container table {
  @apply w-full border-collapse rounded-lg overflow-hidden shadow-md my-8;
}

.shopify-policy__container th {
  @apply bg-gray-100 text-left px-6 py-3 text-sm font-semibold text-gray-700 border-b;
}

.shopify-policy__container td {
  @apply align-top px-6 py-4 text-gray-700 border-b;
}

.shopify-policy__container tr:last-child td {
  @apply border-b-0;
}

.shopify-policy__container ul {
  @apply list-disc list-inside space-y-2 ms-8;
}

.shopify-policy__container li {
  @apply leading-relaxed;
}

.custom-payment-button button:hover {
  background-color: var(--color-neutral-900) !important;
}